version: '3.6'
services:
  new-years-functions:
    image: 'haydenbr/new-years-functions:0.0.1'
    build: .
    volumes:
      - './common/src:/home/site/wwwroot/common/src'
      - './hello/src:/home/site/wwwroot/hello/src'
      - './quote/src:/home/site/wwwroot/quote/src'
    ports:
      - '3100:80'
